[submodule "server"]
	path = server
	url = https://github.com/PorygonAPI/server.git
[submodule "client"]
	path = client
	url = https://github.com/PorygonAPI/client.git
[submodule "doc"]
	path = doc
	url = https://github.com/PorygonAPI/doc.git
